<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>ข้อมูลสมาชิก</ion-title>
        <ion-buttons slot="primary">
            <ion-button routerLink="/member-add">
                เพิ่มสมาชิกใหม่
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let user of users">
        <ion-avatar slot="start">
            <img src="assets/icon/user.png">
        </ion-avatar>
        <ion-label routerLink="/member-show/{{ user.member_id }}">
            <h3>{{ user.member_name }} {{ user.member_sname }}</h3>
            <p>{{ user.member_phone }}</p>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button color="warning" routerLink="/member-edit/{{ user.member_id }}">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="del(user.member_id)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-content>